<p id="notice"><%= notice %></p>

<h2>Microposts</h2>
<div class="container">
<table class= "table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'Show', micropost, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost), :class => "btn btn-success" %></td>
        <td><%= link_to 'Destroy', micropost, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Micropost', new_micropost_path,:class => "btn btn-default" %>